[Desktop Entry]
Name=KeePassXC
GenericName=Password Manager
GenericName[de]=Passwortverwaltung
GenericName[es]=Gestor de contraseñas
GenericName[fr]=Gestionnaire de mot de passe
Comment=Community-driven port of the Windows application “KeePass Password Safe”
Exec=sh -c 'keepassxc -stylesheet "$HOME/.qdarkss/qdarkstyle/style.qss" %U'
StartupWMClass=keepassxc
Type=Application
Terminal=false
Version=1.0
Categories=Utility;Security;Qt;
MimeType=application/x-keepass2;
X-Desktop-File-Install-Version=0.22
