[Desktop Entry]
Name=Libreoffice
GenericName=Office
Comment=Dockerized version of libreoffice
Exec=bash -i -c libreoffice
#Icon=appimagekit-org.keepassxc.KeePassXC
StartupWMClass=libreoffice
Terminal=false
Type=Application
Version=1.0
